@charset "UTF-8";
@font-face {
  font-family: "S-CoreDream-5Medium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-4Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* 폰트 정보
font-family: "Pretendard Variable", "Pretendard", "-apple-system", "BlinkMacSystemFont", system-ui, "Roboto", "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
font-family: 'S-CoreDream-5Medium'; 
*/
/* 변수설정 */
/* 전체설정 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard Variable", "Pretendard", "-apple-system", "BlinkMacSystemFont", system-ui, "Roboto", "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0d0d0d;
}

img {
  vertical-align: bottom;
}

/* header 설정 */
header {
  font-size: 1rem;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  /* util 설정 */
  /* gnb 설정 */
}
header .util {
  width: 100%;
  height: 2.5rem;
  background-color: #004EA2;
  color: #fff;
  display: flex;
  align-items: center;
}
header .util .util-inner {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
}
header .util .util-inner .weather {
  display: flex;
}
header .util .util-inner .weather span {
  margin-left: 0.75rem;
  margin-right: 1.375rem;
  display: flex;
  align-items: center;
}
header .util .util-inner .weather span a {
  height: 90%;
  background-color: #002752;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0.313rem 0.75rem;
  color: #fff;
  font-weight: 500;
}
header .util .util-inner .weather ul {
  display: flex;
}
header .util .util-inner .weather ul li {
  display: flex;
  align-items: center;
  margin-right: 1.375rem;
}
header .util .util-inner .weather ul li img {
  width: 1.5rem;
}
header .util .util-inner .weather ul li:nth-child(3) {
  font-weight: 600;
}
header .util .util-inner .user {
  display: flex;
  align-items: center;
}
header .util .util-inner .user ul {
  display: flex;
}
header .util .util-inner .user ul li a {
  display: block;
  color: #fff;
  padding: 0.313rem 0.75rem;
  font-weight: 500;
}
header .gnb {
  height: 5rem;
  font-family: "S-CoreDream-5Medium", sans-serif;
  font-size: 1.125rem;
  background-color: #fff;
}
header .gnb .gnb-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
header .gnb .gnb-inner h1 {
  display: flex;
  align-items: center;
}
header .gnb .gnb-inner h1 a {
  display: inline-block;
  background-image: url("imgs/logo.png");
  background-repeat: no-repeat;
  width: 11.25rem;
  height: 2.5rem;
  font-size: 0px;
  color: transparent;
}
header .gnb .gnb-inner ul {
  display: flex;
}
header .gnb .gnb-inner ul li {
  padding: 0.313rem 1.375rem;
}
header .gnb .gnb-inner .menu-btn {
  width: 3rem;
  height: 3rem;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header .gnb .gnb-inner .menu-btn i {
  font-size: 1.5rem;
}

/* header 미디어쿼리 */
@media (min-width: 48.063rem) and (max-width: 75rem) {
  header .gnb .gnb-inner ul {
    display: none;
  }
  header .gnb .gnb-inner .menu-btn {
    display: flex;
  }
}
@media (max-width: 48rem) {
  header .util .util-inner .user {
    display: none;
  }
  header .gnb .gnb-inner ul {
    display: none;
  }
  header .gnb .gnb-inner .menu-btn {
    display: flex;
  }
}
/* main 설정 */
.main {
  width: 100%;
  /* hero 설정 */
}
.main .hero {
  width: 100%;
  height: 40.813rem;
  margin-top: 7.563rem;
  position: relative;
  background-image: url("imgs/hero-img-1.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.main .hero .txtBox {
  color: #fff;
  font-family: "S-CoreDream-4Regular", sans-serif;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .hero .txtBox h2 {
  font-size: 1.875rem;
  margin-bottom: 1.875rem;
  text-align: center;
}
.main .hero .txtBox h2 span {
  font-size: 2.375rem;
}
.main .hero .txtBox p {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 3.75rem;
}
.main .hero .txtBox .search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25rem;
}
.main .hero .txtBox .search h3 {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 1.25rem;
}
.main .hero .txtBox .search .search-bar {
  background-color: #fff;
  border: 2px solid #004EA2;
  border-radius: 3.125rem;
  position: relative;
  width: 60%;
  height: 3.125rem;
  box-sizing: content-box;
  display: flex;
  align-items: center;
}
.main .hero .txtBox .search .search-bar input {
  all: unset;
  color: #0d0d0d;
  width: 80%;
  margin-left: 1.875rem;
}
.main .hero .txtBox .search .search-bar button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #004EA2;
  border: 2px solid #004EA2;
  box-sizing: border-box;
  border-radius: 3.125rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 3.125rem;
  height: 3.125rem;
  transition: all 0.3s;
}
.main .hero .txtBox .search .search-bar button:focus {
  outline: none;
}
.main .hero .txtBox .search .search-bar button:hover {
  background-color: #fff;
}
.main .hero .txtBox .search .search-bar button:hover i {
  color: #004EA2;
}
.main .hero .txtBox .search .search-bar button i {
  color: #fff;
  transition: all 0.3s;
}
.main .hero .txtBox .recommend {
  font-family: "Pretendard Variable", "Pretendard", "-apple-system", "BlinkMacSystemFont", system-ui, "Roboto", "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.125rem;
  display: flex;
  justify-self: center;
}
.main .hero .txtBox .recommend span {
  padding: 0.313rem;
  margin: 0.313rem;
  font-weight: 600;
}
.main .hero .txtBox .recommend span i {
  color: #ffdd1f;
  margin-right: 0.375rem;
}
.main .hero .txtBox .recommend ul {
  display: flex;
}
.main .hero .txtBox .recommend ul li {
  padding: 0.313rem;
  margin: 0.313rem;
}
.main .hero .txtBox .recommend ul li:hover a {
  color: #128edc;
  font-weight: 700;
}
.main .hero .txtBox .recommend ul li a {
  display: block;
  color: #fff;
  transition: all 0.3s;
}
.main .hero .arrowBox {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 17.875rem;
}
.main .hero .arrowBox .arrow {
  transition: all 0.3s;
}
.main .hero .arrowBox .arrow.left {
  background-image: url(imgs/hero-arrow.png);
  display: block;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 5%;
  cursor: pointer;
}
.main .hero .arrowBox .arrow.left:hover {
  transform: translateX(-1rem);
}
.main .hero .arrowBox .arrow.right {
  background-image: url(imgs/hero-arrow.png);
  background-position: -5rem center;
  display: block;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  right: 5%;
  cursor: pointer;
}
.main .hero .arrowBox .arrow.right:hover {
  transform: translateX(1rem);
}
.main .hero .pageBox {
  font-family: "S-CoreDream-4Regular", sans-serif;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 3rem;
  right: 10%;
}
.main .hero .pageBox span {
  font-size: 1rem;
}
.main .hero .pageBox span b {
  font-size: 1.375rem;
  margin-right: 0.313rem;
}
.main .hero .pageBox p {
  font-size: 1.375rem;
  margin-left: 1rem;
}

/* main 미디어쿼리 */
@media (min-width: 48.063rem) and (max-width: 75rem) {
  .main {
    /* hero 미디어쿼리 */
  }
  .main .hero .txtBox .search .search-bar {
    width: 80%;
  }
  .main .hero .txtBox .recommend {
    flex-direction: column;
  }
  .main .hero .txtBox .recommend span {
    text-align: center;
  }
  .main .hero .txtBox .recommend ul {
    flex-direction: column;
  }
  .main .hero .txtBox .recommend ul li {
    text-align: center;
    margin: 0.15rem 0.313rem;
  }
}
@media (max-width: 48rem) {
  .main {
    /* hero 미디어쿼리 */
  }
  .main .hero .txtBox h2 {
    font-size: 1.625rem;
  }
  .main .hero .txtBox h2 span {
    font-size: 1.875rem;
  }
  .main .hero .txtBox p {
    font-size: 1.063rem;
  }
  .main .hero .txtBox .search h3 {
    font-size: 1.25rem;
  }
  .main .hero .txtBox .search .search-bar {
    width: 100%;
  }
  .main .hero .txtBox .search .search-bar input {
    font-size: 0.875rem;
    margin-left: 1.5rem;
  }
  .main .hero .txtBox .recommend {
    flex-direction: column;
  }
  .main .hero .txtBox .recommend ul li {
    margin: 0.1rem 0.313rem;
    text-align: center;
  }
  .main .hero .txtBox .recommend ul li a {
    font-size: 1rem;
  }
  .main .hero .txtBox .recommend span {
    text-align: center;
  }
  .main .hero .txtBox .recommend ul {
    flex-direction: column;
  }
  .main .hero .arrowBox .arrow.left {
    transform: scale(0.5);
    left: -2%;
  }
  .main .hero .arrowBox .arrow.left:hover {
    transform: scale(0.5);
  }
  .main .hero .arrowBox .arrow.right {
    transform: scale(0.5);
    right: -2%;
  }
  .main .hero .arrowBox .arrow.right:hover {
    transform: scale(0.5);
  }
  .main .hero .pageBox {
    flex-direction: column;
    bottom: 1rem;
    right: 4%;
  }
  .main .hero .pageBox span {
    font-size: 0.875rem;
  }
  .main .hero .pageBox span b {
    font-size: 1.125rem;
  }
  .main .hero .pageBox p {
    font-size: 1.125rem;
    margin-left: 0;
  }
}
/* 와이드 데스크탑 미디어쿼리 설정 */
@media (min-width: 87.5rem) {
  .util-inner,
  .gnb-inner {
    max-width: 87.5rem;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */