@charset 'UTF-8';
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 폰트 정보
font-family: "Pretendard Variable", "Pretendard", "-apple-system", "BlinkMacSystemFont", system-ui, "Roboto", "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
font-family: 'S-CoreDream-5Medium'; 
*/

/* 변수설정 */
$font-family-pretendard:  "Pretendard Variable", "Pretendard", "-apple-system", "BlinkMacSystemFont", system-ui, "Roboto", "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
$font-family-scoredream-5Medium: 'S-CoreDream-5Medium', sans-serif;
$font-family-scoredream-4Regular: 'S-CoreDream-4Regular', sans-serif;
$font-size-40px: 2.5rem;
$font-size-38px: 2.375rem;
$font-size-30px: 1.875rem;
$font-size-28px: 1.75rem;
$font-size-26px: 1.625rem;
$font-size-22px: 1.375rem;
$font-size-20px: 1.25rem;
$font-size-18px: 1.125rem;
$font-size-17px: 1.063rem;
$font-size-16px: 1rem;
$font-size-14px: 0.875rem;
$color-black: #0d0d0d;
$color-blue-main: #004EA2;

/* 전체설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $font-family-pretendard;
}
ul,ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: $color-black;
}
img {
    vertical-align: bottom;
}

/* header 설정 */
header {
    font-size: $font-size-16px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    /* util 설정 */
    .util {
        width: 100%;
        height: 2.5rem;
        background-color: $color-blue-main;
        color: #fff;
        display: flex;
        align-items: center;
        .util-inner {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: space-between;
            font-size: $font-size-14px;
            /* 국립공원 날씨 정보 설정 */
            .weather {
                display: flex;
                span {
                    margin-left: 0.75rem;
                    margin-right: 1.375rem;
                    display: flex;
                    align-items: center;
                    a {
                        height: 90%;
                        background-color: #002752;
                        border-radius: 0.313rem;
                        display: flex;
                        align-items: center;
                        padding: 0.313rem 0.75rem;
                        color: #fff;
                        font-weight: 500;
                    }
                }
                .listBox {
                    width: 13rem;
                    height: 78%;
                    margin-top: 4px;
                    overflow: hidden;
                    position: relative;
                    > li {
                        position: absolute;
                        top: 120%;
                        left: 0;
                        transition: all 1s;
                        &.on {
                            top: 0;
                            opacity: 1;
                        }
                        &.off {
                            top: -100%;
                            opacity: 0;
                        }
                        &.ready {
                            top: 120%;
                            opacity: 0;
                        }
                        .list {
                            display: flex;
                            li {
                                display: flex;
                                align-items: center;
                                margin-right: 1.375rem;
                                font-weight: 600;
                                &:nth-child(2) {
                                    width: 2.1rem;
                                }
                                &:nth-child(3) {
                                    width: 1.6rem;
                                }
                                img {
                                    width: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
            /* 로그인 회원가입 설정 */
            .user {
                display: flex;
                align-items: center;
                ul {
                    display: flex;
                    li {
                        a {
                            display: block;
                            color: #fff;
                            padding: 0.313rem 0.75rem;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
    /* gnb 설정 */
    .gnb {
        height: 5rem;
        font-family: $font-family-scoredream-5Medium;
        font-size: $font-size-18px;
        background-color: #fff;
        .gnb-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            h1 {
                display: flex;
                align-items: center;
                a {
                    display: inline-block;
                    background-image: url('imgs/logo.png');
                    background-repeat: no-repeat;
                    width: 11.25rem;
                    height: 2.5rem;
                    font-size: 0;
                    color: transparent;
                }
            }
            ul {
                display: flex;
                li {
                    padding: 0.313rem 1.375rem;
                    a {}
                }
            }
            /* 햄버거버튼 설정 */
            .menu-btn {
                width: 3rem;
                height: 3rem;
                // display: flex;
                display: none;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                i {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
/* header 미디어쿼리 */
@media (min-width:48.063rem) and (max-width:75rem) {
    header {
        .gnb {
            .gnb-inner {
                ul {
                    display: none;
                }
                .menu-btn {
                    display: flex;
                }
            }
        }
    }
}
@media (max-width:48rem) {
    header {
        .util {
            .util-inner {
                .user {
                    display: none;
                }
            }
        }
        .gnb {
            .gnb-inner {
                ul {
                    display: none;
                }
                .menu-btn {
                    display: flex;
                }
            }
        }
    }
}
/* main 설정 */
.main {
    width: 100%;
    position: relative;
    /* hero 설정 */
    .hero {
        width: 100%;
        height: 40.813rem;
        margin-top: 7.563rem;
        position: relative;
        .swiper {
            width: 100%;
            height: 100%;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .heroSwiper {
            position: absolute;
            z-index: 1;
        }
        .swiper-button-next, .swiper-button-prev {
            background-image: url(imgs/hero-arrows.png);
            background-repeat: no-repeat;
            width: 5rem;
            height: 5rem;
            transition: all 0.3s;
        }
        .swiper-button-next:after, .swiper-button-prev:after {
            font-family: "";
            content: "";
        }
        .swiper-button-next {
            margin-right: 3rem;
            background-position: -5rem 0;
            &:hover {
                transform: translateX(0.725rem);
            }
        }
        .swiper-button-prev {
            margin-left: 3rem;
            &:hover {
                transform: translateX(-0.725rem);
            }
        }
        .swiper-pagination {
            text-align: right;
        }
        .swiper-pagination-fraction {
            color: #fff;
            bottom: 7.5%;
            padding-right: 15.5%;
        }
        .swiper-pagination-current {
            font-size: $font-size-22px;
        }
        .swiper-pagination-total {
            font-size: $font-size-16px;
        }
        /* txtBox 설정 */
        .txtBox {
            color: #fff;
            font-family: $font-family-scoredream-4Regular;
            width: 60%;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            transform: translate(-50%, -50%);
            h2 {
                font-size: $font-size-30px;
                margin-bottom: 1.875rem;
                text-align: center;
                span {
                    font-size: $font-size-38px;
                    white-space: nowrap;
                }
            }
            p {
                font-size: $font-size-20px;
                text-align: center;
                margin-bottom: 3.75rem;
            }
            /* 검색 설정 */
            .search {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 1.25rem;
                h3 {
                    font-size: $font-size-28px;
                    text-align: center;
                    margin-bottom: 1.25rem;
                }
                .search-bar {
                    background-color: #fff;
                    border: 0.125rem solid $color-blue-main;
                    border-radius: 3.125rem;
                    position: relative;
                    width: 60%;
                    height: 3.125rem;
                    box-sizing: content-box;
                    display: flex;
                    align-items: center;
                    input {
                        all: unset;
                        color: $color-black;
                        width: 80%;
                        margin-left: 1.875rem;
                    }
                    button {
                        all: unset;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        background-color: $color-blue-main;
                        border: 0.125rem solid $color-blue-main;
                        box-sizing: border-box;
                        border-radius: 3.125rem;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 3.125rem;
                        height: 3.125rem;
                        transition: all 0.3s;
                        &:focus {
                            outline: none;
                        }
                        &:hover {
                            background-color: #fff;
                            i {
                                color: $color-blue-main;
                            }
                        }
                        i {
                            color: #fff;
                            transition: all 0.3s;
                        }
                    }
                }
            }
            /* 추천검색어 설정 */
            .recommend {
                font-family: $font-family-pretendard;
                font-size: $font-size-18px;
                display: flex;
                justify-self: center;
                span {
                    padding: 0.313rem;
                    margin: 0.313rem;
                    font-weight: 600;
                    i {
                        color: #ffdd1f;
                        margin-right: 0.375rem;
                    }
                }
                ul {
                    display: flex;
                    li {
                        padding: 0.313rem;
                        margin: 0.313rem;
                        a {
                            display: block;
                            color: #fff;
                            transition: all 0.3s;
                        }
                        &:hover a {
                            color: #128edc;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        /* 배경이미지 페이지 설정 */
        .pageBox {
            font-family: $font-family-scoredream-4Regular;
            color: #fff;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            bottom: 3rem;
            right:10%;
            z-index: 2;
            span {
                font-size: $font-size-16px;
                b {
                    font-size: $font-size-22px;
                    margin-right: 0.313rem;
                }
            }
            p {
                font-size: $font-size-22px;
                margin-left: 1rem;
            }
        }
    }
    /* 국립공원 알아보기 배경 하늘 설정*/
    .more-bg-sky {
        width: 100%;
        height: 500px;
        background: linear-gradient(180deg, rgba(255,255,255,0.2) 00%, rgba(137,202,255,0.2) 100%);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    /* layout 설정 */
    .layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 40.188rem;
        gap: 2.813rem;
        margin-top: 4.375rem;
        > div {
            // background-color: #ffd1d1;
        }
        /* 박스별 제목 (h3) 공통 설정 */
        h3 {
            font-family: $font-family-scoredream-5Medium;
            font-size: $font-size-26px;
            margin-bottom: 2rem;
            width: 100%;
        }
        /* group-left 설정*/
        .group-left {
            display: flex;
            flex-direction: column;
            padding: 1.25rem;
            /* 자주 찾는 서비스 설정*/
            .serviceBox {
                // background-color: #fcffcd;
                height: 25rem;
                ul {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    li {
                        width: 22%;
                        margin: 1%;
                        a {
                            background-color: #F5FCFF;
                            border-radius: 0.875rem;
                            border: 0.063rem solid #A8CDDB;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 7.813rem;
                            &:hover {
                                background-color: #e8f7ff;
                            }
                            i {
                                display: block;
                                background-image: url('imgs/service-icons.png');
                                width: 4rem;
                                height: 3.875rem;
                            }
                            span {
                                font-size: $font-size-18px;
                                font-weight: 600;
                                text-align: center;
                            }
                        }
                        &:nth-child(2) {
                            i {
                                background-position: -4rem 0;
                            }
                        }
                        &:nth-child(3) {
                            i {
                                background-position: -8rem 0;
                            }
                        }
                        &:nth-child(4) {
                            i {
                                background-position: -12rem 0;
                            }
                        }
                        &:nth-child(5) {
                            i {
                                background-position: 0rem 3.875rem;
                            }
                        }
                        &:nth-child(6) {
                            i {
                                background-position: -4rem 3.875rem;
                            }
                        }
                        &:nth-child(7) {
                            i {
                                background-position: -8rem 3.875rem;
                            }
                        }
                        &:nth-child(8) {
                            i {
                                background-position: -12rem 3.875rem;
                            }
                        }
                    }
                }
            }
            /* 새로운 소식 설정*/
            .newsBox {
                // background-color: #daffcd;
                height: 25rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                .newsBox-inner {
                    width: 93%;
                    height: 74%;
                    background-color: #f9f9f9;
                    border: 0.063rem solid #d7d7d7;
                    border-radius: 0.75rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    .tabMenu {
                        width: 90%;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 4%;
                        margin-bottom: 2%;
                        li {
                            padding: 0.313rem 0.813rem;
                            margin: 0 0.25rem;
                            border-radius: 0.5rem;
                            a {
                                display: block;
                                padding: 0.313rem 0.313rem;
                                font-size: $font-size-18px;
                                font-weight: 600;
                                width: 100%;
                                i {
                                    display: block;
                                    background-image: url('imgs/news-more-icon.png');
                                    width: 1.25rem;
                                    height: 1.25rem;
                                }
                            }
                            &.active {
                                background-color: $color-blue-main;
                                a {
                                    color: #fff;
                                }
                            }
                        }
                    }
                    .txtBox {
                        width: 90%;
                        position: absolute;
                        top: 5rem;
                        left: 2.2rem;
                        display: none;
                        &.active {
                            display: block;
                        }
                        li {
                            padding: 0.375rem 0;
                            margin: 0.375rem 0;
                            font-weight: 500;
                            display: flex;
                            justify-content: space-between;
                            a {
                                width: 80%;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 1;
                                overflow: hidden;
                            }
                            span {
                                width: 18%;
                                color: #777;
                            }
                        }
                    }
                }
            }
            /* wrapBox1 설정*/
            .wrapBox1 {
                // background-color: #cdf6ff;
                height: 21.6rem;
                display: flex;
                .wrapBox1-left {
                    // background-color: blue;
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 1.5rem 0.75rem 1.5rem 1.5rem;
                    /* 자원봉사 설정*/
                    .volunteerBox {
                        border: 1px solid #D7D7D7;
                        border-radius: 1rem;
                        width: 100%;
                        height: 50%;
                        margin-bottom: 1.5rem;
                        background-color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        span {
                            font-size: 0;
                            color: transparent;
                        }
                        img {
                            width: 70%;
                            transition: all 0.3s;
                        }
                        &:hover {
                            img {
                                transform: scale(1.05);
                            }
                        }
                    }
                    /* 실시간영상 설정*/
                    .liveBox {
                        border: 1px solid #D7D7D7;
                        border-radius: 1rem;
                        width: 100%;
                        height: 50%;
                        background-color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        span {
                            font-size: 0;
                            color: transparent;
                        }
                        img {
                            width: 80%;
                            transition: all 0.3s;
                        }
                        &:hover {
                            img {
                                transform: scale(1.05);
                            }
                        }
                    }
                }
                /* snsBox 설정*/
                .snsBox {
                    width: 50%;
                    height: 100%;
                    padding: 1.5rem 1.5rem 1.5rem 0.75rem;
                    .snsBox-inner {
                        width: 100%;
                        height: 100%;
                        border: 0.063rem solid #D7D7D7;
                        border-radius: 1rem;
                        background-color: #fff;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h4 {
                            font-size: $font-size-20px;
                            text-align: center;
                            margin-top: 2rem;
                        }
                        ul {
                            width: 59%;
                            height: 80%;
                            margin-top: 1rem;
                            li {
                                height: 3.125rem;
                                float: left;
                                margin: 0.5rem 1rem;
                                a {
                                    position: relative;
                                    span {
                                        font-size: 0;
                                        position: absolute;
                                    }
                                    i {
                                        display: block;
                                        background-image: url(imgs/sns-icon.png);
                                        // width: 3.125rem;
                                        // height: 3.125rem;
                                        width: 50px;
                                        height: 50px;
                                        transition: all 0.3s;
                                    }
                                }
                                &:nth-child(2) {
                                    i {
                                        background-position: -60px 0;
                                    }
                                }
                                &:nth-child(3) {
                                    i {
                                        background-position: -120px 0;
                                    }
                                }
                                &:nth-child(4) {
                                    i {
                                        background-position: -180px 0;
                                    }
                                }
                                &:nth-child(5) {
                                    i {
                                        background-position: -240px 0;
                                    }
                                }
                                &:hover {
                                    i {
                                        transform: scale(1.1);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            /* wrapBox2 설정*/
            .wrapBox2 {
                // background-color: #ffcdfc;
                display: flex;
                padding: 1.5rem;
                /* 홍보이미지 설정*/
                .promoBox {
                    border: 1px solid #D7D7D7;
                    border-radius: 1rem;
                    width: 50%;
                    height: 100%;
                    margin-right: 0.75rem;
                }
                /* 웹툰 설정*/
                .webtoonBox {
                    border: 1px solid #D7D7D7;
                    border-radius: 1rem;
                    width: 50%;
                    height: 100%;
                    margin-left: 0.75rem;
                    overflow: hidden;
                    position: relative;
                    cursor: pointer;
                    img {
                        width: 100%;
                        transition: all 0.3s;
                    }
                    .txtBox {
                        width: 100%;
                        height: 30%;
                        position: absolute;
                        bottom: 0;
                        transition: all 0.3s;
                        .dimmed {
                            width: 100%;
                            height: 100%;
                            background-color: #202020;
                            opacity: 0.8;
                        }
                        h4 {
                            color: #fff;
                            font-size: $font-size-30px;
                            position: absolute;
                            top: 1rem;
                            left: 1.4rem;
                        }
                        p {
                            color: #fff;
                            font-size: $font-size-18px;
                            position: absolute;
                            top: 4rem;
                            left: 1.4rem;
                        }
                    }
                    &:hover {
                        img {
                            filter: brightness(0.85);
                        }
                    }
                }
            }
        }
        /* group-right 설정*/
        .group-right {
            /* 실시간 탐방통제정보 설정*/
            .controlBox {
                // background-color: #cdf6ff;
                height: 600px;
                margin-bottom: 3.75rem;
                border: 1px solid #D1D1D1;
                border-radius: 1.25rem;
                background-color: #fff;
                padding: 2.5rem;
                h3 {}
                p {
                    font-size: $font-size-20px;
                    color: #777;
                    font-weight: 500;
                    margin-bottom: 2.125rem;
                }
                .legend {
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 1.75rem;
                    li {
                        width: 16%;
                        height: 2.4rem;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 3.75rem;
                        font-size: $font-size-14px;
                        margin: 0 0.34rem;
                        &:nth-child(1) {
                            background-color: #ff0000;
                        }
                        &:nth-child(2) {
                            background-color: #F29B76;
                        }
                        &:nth-child(3) {
                            background-color: #F2F2F2;
                            color: #777;
                        }
                    }
                }
                hr {
                    margin-bottom: 1.75rem;
                    height: 0.125rem;
                    border: 0;
                    background-color: #EFEFEF;
                }
                .location {
                    // background-color: red;
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        width: 18%;
                        height: 2.8rem;
                        border-radius: 3.75rem;
                        font-size: $font-size-18px;
                        margin: 0.4rem 0.36rem;
                        &.high {
                            background-color: #ff0000;
                            &:hover {
                                background-color: #e10000;
                            }
                            a {
                                color: #fff;
                            }
                        }
                        &.mid {
                            background-color: #F29B76;
                            &:hover {
                                background-color: #e48d67;
                            }
                            a {
                                color: #fff;
                            }
                        }
                        &.low {
                            background-color: #F2F2F2;
                            &:hover {
                                background-color: #e9e9e9;
                            }
                            a {
                                color: #777;
                            }
                        }
                        a {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
            /* wrapBox3 설정*/
            .wrapBox3 {
                // background-color: #cdffe8;
                height: 28rem;
                display: flex;
                margin-bottom: 3.75rem;
                /* 국립공원바로가기 설정*/
                .linkBox {
                    width: 50%;
                    height: 100%;
                    // background-color: #9abaff;
                    padding-right: 1rem;
                    h3 {
                        padding-left: 0.5rem;
                    }
                    .linkBox-inner {
                        border: 1px solid #D1D1D1;
                        border-radius: 0.75rem;
                        background-color: #fff;
                        height: 23.688rem;
                        background-image: url(imgs/link-map.png);
                        background-size: 120%;
                        background-repeat: no-repeat;
                        background-position: -1.6rem 0.2rem;
                        ul {
                            width: 100%;
                            height: 100%;
                            position: relative;
                            li {
                                position: absolute;
                                &:nth-child(1) {top: 70px; left: 84px;}
                                &:nth-child(2) {top: 124px; left: 30px;}
                                &:nth-child(3) {top: 150px; left: 100px;}
                                &:nth-child(4) {top: 190px; left: 35px;}
                                &:nth-child(5) {top: 220px; left: 100px;}
                                &:nth-child(6) {top: 250px; left: 50px;}
                                &:nth-child(7) {top: 260px; left: 110px;}
                                &:nth-child(8) {top: 330px; left: 46px;}
                                &:nth-child(9) {top: 290px; left: 10px;}
                                &:nth-child(10) {top: 220px; left: 160px;}
                                &:nth-child(11) {top: 185px; left: 130px;}
                                &:nth-child(12) {top: 140px; left: 160px;}
                                &:nth-child(13) {top: 105px; left: 130px;}
                                &:nth-child(14) {top: 70px; left: 150px;}
                                &:nth-child(15) {top: 18px; left: 200px;}
                                &:nth-child(16) {top: 52px; left: 220px;}
                                &:nth-child(17) {top: 86px; left: 230px;}
                                &:nth-child(18) {top: 118px; left: 210px;}
                                &:nth-child(19) {top: 150px; left: 230px;}
                                &:nth-child(20) {top: 182px; left: 190px;}
                                &:nth-child(21) {top: 215px; left: 210px;}
                                &:nth-child(22) {top: 182px; left: 260px;}
                                &:nth-child(23) {top: 280px; left: 180px;}
                                a {
                                    display: inline-block;
                                    border: 1px solid #427EAF;
                                    border-radius: 0.125rem;
                                    background-color: #fff;
                                    color: #427eaf;
                                    padding: 0.375rem;
                                    font-size: 0.813rem;
                                    &:hover {
                                        background-color: #f1f6ff;
                                        color: #3871a0;
                                    }
                                }
                            }
                        }
                    }
                }
                /* 스마트 국립공원 설정*/
                .smartBox {
                    width: 50%;
                    height: 100%;
                    // background-color: #bb77ff;
                    padding-left: 1rem;
                    h3 {
                        padding-left: 0.5rem;
                    }
                    .smartBox-inner {
                        border: 1px solid #D1D1D1;
                        border-radius: 0.75rem;
                        background-color: #fff;
                        height: 23.688rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        ul {
                            display: flex;
                            flex-wrap: wrap;
                            width: 94%;
                            li {
                                margin: 0.4rem;
                                a {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border: 1px solid #A8CDDB;
                                    border-radius: 0.5rem;
                                    background-color: #F5FCFF;
                                    color: #3D3D3D;
                                    width: 8.563rem;
                                    height: 2.938rem;
                                    font-size: $font-size-18px;
                                    &:hover {
                                        background-color: #eaf8fe;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            /* 국립공원 사진전 설정*/
            .galleryBox {
                background-color: #cdffd0;
                height: 10.5rem;
                border: 1px solid #D1D1D1;
                border-radius: 1.25rem;
                background-color: #fff;
                display: flex;
                margin-bottom: 3.125rem;
                cursor: pointer;
                img {
                    border-radius: 1.25rem;
                    transition: all 0.3s;
                }
                .txtBox {
                    width: 100%;
                    height: 100%;
                    padding-left: 2rem;
                    position: relative;
                    h3 {
                        margin-top: 2.5rem;
                        margin-bottom: 1rem;
                    }
                    p {
                        font-size: $font-size-18px;
                        color: #9D9D9D;
                        font-weight: 600;
                        margin-bottom: 1rem;
                    }
                    span {
                        color: #fff;
                        background-color: #3F3F3F;
                        border: 1px solid #3f3f3f;
                        border-radius: 0.75rem;
                        padding: 1.125rem 1.625rem;
                        position: absolute;
                        right: 0;
                        bottom: 1.2rem;
                        margin-right: 1.2rem;
                        cursor: pointer;
                        transition: all 0.3s;
                        &:hover {
                            background-color: #fefefe;
                            border: 1px solid #a1a1a1;
                            color: #3f3f3f;
                            font-weight: 600;
                        }
                    }
                }
            }
            /* 자주하는 질문 설정*/
            .questionBox {
                // background-color: #ffeccd;
                position: relative;
                h3 {}
                span {
                    font-size: $font-size-20px;
                    font-weight: 500;
                    position: absolute;
                    top: 0.9rem;
                    right: 0;
                    cursor: pointer;
                    i {
                        margin-left: 0.4rem;
                    }
                }
                .questionBox-inner {
                    border: 1px solid #D1D1D1;
                    border-radius: 0.75rem;
                    background-color: #fff;
                    height: 6.938rem;
                    display: flex;
                    align-items: center;
                    .grid {
                        width: 100%;
                        // background-color: blue;
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: 40px 40px;
                        .questionTitle {
                            display: grid;
                            grid-template-columns: 8% 12% 12% 1fr;
                            align-items: center;
                            padding: 0 1.25rem;
                            li {
                                text-align: center;
                                font-weight: 600;
                                // border: 1px solid #000;
                            }
                        }
                        .questionContents {
                            position: relative;
                            // background-color: yellow;
                            overflow: hidden;
                            > li {
                                width: 100%;
                                height: 50%;
                                position: absolute;
                                left: 0;
                                top: 0;
                                transition: all 1s;
                                &.on {
                                    top: 0;
                                    opacity: 1;
                                }
                                &.off {
                                    top: -100%;
                                    opacity: 0;
                                }
                                &.ready {
                                    top: 100%;
                                    opacity: 0;
                                }
                                .list {
                                    display: grid;
                                    grid-template-columns: 8% 12% 12% 1fr;
                                    padding: 0 1.25rem;
                                    margin-top: 0.7rem;
                                    li {
                                        text-align: center;
                                        cursor: pointer;
                                        // border: 1px solid #000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        /* group-bottom 설정*/
        .group-bottom {
            grid-column: 1 / span 2;
            height: 40.188rem;
            .moreBox {
                height: 40.188rem;
                position: relative;
                .object {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    background-image: url(imgs/more-bg.png);
                    background-position: 0 bottom;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                h3 {}
                .card {
                    display: flex;
                    justify-content: flex-end;
                    height: 2.5rem;
                    margin-top: 4rem;
                    > li {
                        width: 19.25rem;
                        height: auto;
                        padding: 2.5rem;
                        border: 1px solid #d1d1d1;
                        border-radius: 0.625rem;
                        background-color: #fff;
                        margin-left: 3.15rem;
                        box-shadow: 0 7px 12px rgba(150, 161, 174, 0.4);
                        transition: all 0.3s;
                        &:nth-child(1) {
                            height: 18.875rem;
                        }
                        &:nth-child(2) {
                            margin-top: 4rem;
                            height: 16.875rem;
                        }
                        &:nth-child(3) {
                            margin-top: 8rem;
                            height: 16.875rem;
                        }
                        &:nth-child(4) {
                            margin-top: 12rem;
                            height: 14rem;
                        }
                        &:hover {
                            transform: translateY(-0.6rem);
                        }
                        h4 {
                            color: #07a33e;
                            font-size: $font-size-20px;
                            font-weight: bold;
                            margin-bottom: 1.5rem;
                            cursor: pointer;
                            i {
                                margin-right: 1.25rem;
                            }
                        }
                        .list {
                            padding-left: 0.2rem;
                            li {
                                padding: 0.375rem 0;
                                margin: 0.375rem 0;
                                cursor: pointer;
                                a {
                                    display: block;
                                    color: #808080;
                                    &:hover {
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} 
/* main 미디어쿼리 */
@media (min-width:48.063rem) and (max-width:75rem) {
    .main {
        /* hero 미디어쿼리 */
        .hero {
            .txtBox {
                .search {
                    .search-bar {
                        width: 80%;
                    }
                }
                .recommend {
                    flex-direction: column;
                    span {
                        text-align: center;
                    }
                    ul {
                        flex-direction: column;
                        li {
                            text-align: center;
                            margin: 0.15rem 0.313rem;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:48rem) {
    .main {
        /* hero 미디어쿼리 */
        .hero {
            .txtBox {
                h2 {
                    font-size: $font-size-26px;
                    span {
                        font-size: $font-size-30px;
                    }
                }
                p {
                    font-size: $font-size-17px;
                }
                .search {
                    h3 {
                        font-size: $font-size-20px;
                    }
                    .search-bar {
                        width: 100%;
                        input {
                            font-size: $font-size-14px;
                            margin-left: 1.5rem;
                        }
                    }
                }
                .recommend {
                    flex-direction: column;
                    ul {
                        li {
                            margin: 0.1rem 0.313rem;
                            text-align: center;
                            a {
                                font-size: $font-size-16px;
                            }
                        }
                    }
                    span {
                        text-align: center;
                    }
                    ul {
                        flex-direction: column;
                    }
                }
            }
            .arrowBox {
                .arrow {
                    &.left {
                        transform: scale(0.5);
                        left: -2%;
                        &:hover {
                            transform: scale(0.5);
                        }
                    }
                    &.right {
                        transform: scale(0.5);
                        right: -2%;
                        &:hover {
                            transform: scale(0.5);
                        }
                    }
                }
            }
            .pageBox {
                flex-direction: column;
                bottom: 1rem;
                right: 4%;
                span {
                    font-size: $font-size-14px;
                    b {
                        font-size: $font-size-18px;
                    }
                }
                p {
                    font-size: $font-size-18px;
                    margin-left: 0;
                }
            }
        }
        /* layout 미디어쿼리 */
        .layout {
            grid-template-columns: 100%;
            grid-template-rows: 1fr 1fr 1fr;
            .group-bottom {
                grid-column: 1;
            }
        }
    }
}
/* footer 설정*/
footer {
    background-color: $color-blue-main;
    height: 20.875rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-inner {
        display: flex;
        h2 {
            margin-right: 3rem;
            background-color: #fff;
            display: inline;
            width: 12.75rem;
            height: 3.5rem;
            font-size: 0;
            background-image: url(imgs/logo.png);
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 4.625rem;
            cursor: pointer;
        }
        .txtBox {
            margin-top: 1rem;
            .nav {
                margin-bottom: 2.375rem;
                ul {
                    display: flex;
                    li {
                        a {
                            display: block;
                            width: 100%;
                            padding-left: 1.125rem;
                            color: #fff;
                            &::after {
                                content: '|';
                                margin-left: 1.125rem;
                            }
                        }
                        &:nth-child(1) {
                            a {
                                padding-left: 0;
                            }
                        }
                        &:last-child a::after {
                            content: '';
                        }
                    }
                }
            }
            .info {
                p {
                    margin-bottom: 0.563rem;
                    span {
                        margin-right: 1.5rem;
                    }
                }
            }
        }
    }
}
/* footer 미디어쿼리 */
@media (min-width:48.063rem) and (max-width:75rem) {

}
@media (max-width:48rem) {
    footer {
        height: 53.875rem;
        .footer-inner {
            flex-direction: column;
            align-items: center;
            width: 80%;
            h2 {
                order: 2;
                margin-right: 0;
                margin-top: 3rem;
            }
            .txtBox {
                display: flex;
                flex-direction: column;
                align-items: center;
                order: 1;
                .nav {
                    margin-bottom: 3rem;
                    ul {
                        flex-direction: column;
                        align-items: center;
                        li {
                            padding: 0.5rem 0;
                            margin: 0.5rem 0;
                            a {
                                padding-left: 0;
                                &::after {
                                    content: '';
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
                .info {
                    width: 95%;
                    p {
                        line-height: 1.5;
                        margin-bottom: 1rem;
                        font-size: $font-size-14px;
                        text-align: center;
                        i {
                            font-style: normal;
                            white-space: nowrap;
                        }
                        b {
                            font-weight: normal;
                            white-space: nowrap;
                        }
                        span {
                            margin-right: 0;
                        }
                        &:nth-child(2) {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}











/* 와이드 데스크탑 미디어쿼리 설정 */
@media (min-width:87.5rem) {
    .util-inner,
    .gnb-inner,
    .layout {
        max-width: 87.5rem;
        margin: 0 auto;
    }
}