/* 언어설정 */
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* .press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  } */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 색상변수설정 */
:root {
    --color-mainBlue: #00007b;
    --color-subBlue: #0000d2;
    --color-textBlue: #2A2AA1;
    --color-creamBlue: #466FFF; 
    --color-black: #060607;
    --color-white: #fff;
    --color-gray: #d9d9d9;
}

/* 전체설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--color-black);
}
img {
    vertical-align: bottom;
}
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'Pretendard-Regular';
}
body.on {
    overflow-x: hidden;
    overflow-y: auto;
}

/* section1 설정 */
.section1 {
    width: 100%;
    height: 100%;
    position: relative;
}
.section1.fixed {
    position: fixed;
    top: 0;
    left: 0;
}
/* intro 설정 */
.intro {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--color-black);
}
.dvd-container {
    width: 250px;
    height: 130px;
    position: absolute;
}
.dvd-logo {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    cursor: pointer;
}
.dvd-logo:hover {
    opacity: 1;
}
/* 배경설정 */
.black_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-black);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;
}
.black_bg .bg {
    width: 0px;
    height: 0px;
}
/* 요소 설정 */
.section1 .bg .mainTitle {
    margin-top: 200px;
    margin-left: 100px;
}
.section1 .bg .mainTitle h1 {
    font-family: "Press Start 2P", system-ui;
    color: var(--color-white);
    font-size: 100px;
    position: relative;
    width: 1000px;
}
.section1 .bg .mainTitle h1 i {
    font-style: normal;
    font-size: 24px;
    position: absolute;
    top: -30px;
    right: 0;
}
.section1 .bg .mainTitle p {
    font-family: "Press Start 2P", system-ui;
    color: var(--color-white);
    font-size: 26px;
    margin-top: 60px;
    width: 420px;
}
.section1 .txt {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-family: "Press Start 2P", system-ui;
    color: var(--color-white);
    font-size: 16px;
    text-align: center;
}
.section1 .txt.uiux {
    top: 40px;
    left: 40px;
}
.section1 .txt.publishing {
    top: 40px;
    right: 40px;
}
.section1 .txt.welcome {
    bottom: 430px;
    display: inline-block;
    font-size: 22px;
}
.section1 .txt.welcome i {
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.section1 .txt.copyright {
    bottom: 40px;
    left: 40px;
    font-size: 10px;
    text-align: left;
    line-height: 1.4;
    filter: brightness(0.8);
    color: #0179FE;
}
.section1 .txt.copyright:hover {
    filter: brightness(1);
}
.section1 .btn {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 40px;
}
.section1 .btn.toIntro {
    right: 40px;
    width: 120px;
    cursor: pointer;
}
.section1 .btn.toIntro img {
    width: 100%;
    /* opacity: 0.3; */
    filter: brightness(0.8);
}
.section1 .btn.toIntro:hover img {
    /* opacity: 0.8; */
    filter: brightness(1);
}
.section1 .btn.profile {
    bottom: 250px;
    left: 100px;
    cursor: pointer;
    width: 208px;
    height: 166px;
}
.section1 .btn.profile img {
    width: 104px;
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 1;
}
/* .section1 .btn.profile span {
    font-family: "Press Start 2P", system-ui;
    color: var(--color-white);
    background-color: var(--color-subBlue);
    font-size: 20px;
    text-align: center;
    padding: 21px 34px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    transition: all 0.3s;
}
.section1 .btn.profile:hover span {
    background-color: var(--color-white);
    color: var(--color-subBlue);
} */
.section1 .btn.profile span {
    font-family: "Press Start 2P", system-ui;
    color: var(--color-white);
    background-color: var(--color-subBlue);
    font-size: 20px;
    text-align: center;
    padding: 21px 34px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    transition: all 0.3s;
}
.section1 .btn.profile span:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--color-white);
    transition: all 0.3s;
    z-index: -1;
}
.section1 .btn.profile:hover span {
    color: var(--color-subBlue);
}
.section1 .btn.profile:hover span:before {
    width: 100%;
}
.section1 .contentBox {
    position: absolute;
    bottom: 60px;
    right: 200px;
    display: flex;
    justify-content: space-around;
}
.section1 .contentBox .eachBox {
    width: 240px;
    height: 220px;
    margin: 0 20px;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0;
    display: none;
}
.section1 .contentBox .eachBox .bar {
    background-color: var(--color-subBlue);
    width: 240px;
    height: 26px;
    display: flex;
    justify-content: end;
    transition: all 0.3s;
}
.section1 .contentBox .eachBox .bar span {
    width: 16px;
    height: 16px;
    background-color: var(--color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    margin-top: 7px;
}
.section1 .contentBox .eachBox .bar span i {}
.section1 .contentBox .eachBox .box {
    background-color: var(--color-white);
    border: 4px solid #0000aa;
    padding: 26px;
    width: 100%;
    height: 80px;
    /* height: 215px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s;
}
.section1 .contentBox .eachBox .box h2 {
    font-family: "Press Start 2P", system-ui;
    color: var(--color-mainBlue);
    font-size: 20px;
    margin-bottom: 26px;
    transition: all 0.3s;
}
.section1 .contentBox .eachBox .box h3 {
    color: var(--color-mainBlue);
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 12px;
    transition: all 0.3s;
}
.section1 .contentBox .eachBox .box h4 {
    color: var(--color-textBlue);
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 12px;
    transition: all 0.3s;
}
.section1 .contentBox .eachBox .box p {
    color: var(--color-textBlue);
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    transition: all 0.3s;
}
/* hover transition */
.section1 .contentBox .eachBox:hover .bar {
    transform: translate(0px, -30px);
}
.section1 .contentBox .eachBox:hover .box {
    background-color: var(--color-creamBlue);
    transform: translate(0px, -30px);
    height: 220px;
    box-shadow: 0px 4px 10px 0px #18183a;    
}
.section1 .contentBox .eachBox:hover .box h2 {
    color: var(--color-white);
}
.section1 .contentBox .eachBox:hover .box h3 {
    color: var(--color-white);
}
.section1 .contentBox .eachBox:hover .box h4 {
    color: var(--color-white);
}
.section1 .contentBox .eachBox:hover .box p {
    color: var(--color-white);
}
/* profileContent 설정 */
.section1 .profileContent {
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
    height: 600px;
    color: #fff;
    position: absolute;
    top: 250px;
    z-index: -1;
    opacity: 0;
    margin-left: 30px;
}
.section1 .profileContent .boxA {
    width: 100%;
    height: 50%;
    /* background-color: rgb(255, 172, 172); */
}
.section1 .profileContent .firstUl {
    display: flex;
}
.section1 .profileContent .firstLi {
    font-size: 24px;
    font-weight: 600;
    margin-right: 70px;
}
.section1 .profileContent .secondUl {
    margin-top: 20px;
}
.section1 .profileContent .secondLi {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.section1 .profileContent .boxB {
    width: 100%;
    height: 50%;
}
.section1 .profileContent .boxB .secondUl {
    display: flex;
}
.section1 .profileContent .boxB .secondLi {
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}
.section1 .profileContent .boxB .secondLi .secondLiWrap {
    display: flex;
    align-items: center;
    width: 100%;
}
.section1 .profileContent .boxB .secondLi .secondLiWrap img {
    margin-right: 16px;
}
.section1 .profileContent .boxB .secondLi .canvas_wrap {
    position: relative;
    max-width: 300px;
    max-height: 300px;
    margin-top: 20px;
}
.section1 .profileContent .boxB .secondLi .canvas_wrap .percent {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: var(--color-white);
    transform: translate(-50%, -50%);
}
.section1 .profileContent .boxB .secondLi .canvas_wrap .percent::after {
    content: '%';

}

/* 네비설정 */
.section1 nav {
    position: absolute;
    left: 40px;
    top: 200px;
    z-index: -1;
    opacity: 0;
}
.section1 nav ul {}
.section1 nav ul li {
    font-family: "Press Start 2P", system-ui;
    color: var(--color-white);
    font-size: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.section1 nav ul li:hover {
    color: var(--color-creamBlue);
}
.section1 nav ul li.on {
    color: var(--color-creamBlue);
}

/* 아티클 설정 */
.section1 article {
    position: absolute;
    left: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1080px;
    display: none;
    transition: all 0.5s;
}
.section1 article .imgBox {
    border-radius: 8px;
    overflow: hidden;
}
.section1 article .imgBox img {}
.section1 article .portfolioBtn {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    width: 100%;
}
.section1 article .portfolioBtn span {
    font-family: "Press Start 2P", system-ui;
    color: var(--color-subBlue);
    background-color: var(--color-white);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 14px;
    width: 240px;
    height: 60px;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s;
}
.section1 article .portfolioBtn span:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: var(--color-subBlue);
    transition: all 0.3s;
    z-index: -1;
}
.section1 article .portfolioBtn span:hover {
    color: var(--color-white);
}
.section1 article .portfolioBtn span:hover:before {
    height: 100%;
}

.section1 article .portfolioBtn span a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--color-subBlue);
    background-color: var(--color-white);
    z-index: 1;
    transition: all 0.3s;
    position: relative;
}
.section1 article .portfolioBtn span a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: var(--color-subBlue);
    transition: all 0.3s;
    z-index: -1;
}
.section1 article .portfolioBtn span:hover a {
    width: 100%;
    color: var(--color-white);
}
.section1 article .portfolioBtn span:hover a:before {
    height: 100%;
}

/* 컨셉뷰 클릭해서 나오는 section2 설정 */
.dimmedWrap {
    width: 100%;
    z-index: 3;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.dimmedWrap.on {
    display: block;
}
.dimmedWrap .dimmed {
    width: 100%;
    height: 17003.100px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}
.dimmedWrap img {
    width: 1500px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    display: none;
}
.dimmedWrap img.on {
    display: block;
}
.dimmedWrap .closeBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}
.dimmedWrap .closeBtn:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.dimmedWrap .closeBtn i {
    font-size: 42px;
    color: var(--color-white);
}

